BCFTOOLS=/path/to/bcftools
PLINK=/path/to/plink
GLIMPSE_PHASE=/path/to/GLIMPSE_phase
GLIMPSE_LIGATE=/path/to/GLIMPSE_ligate
REFERENCE_FASTA=/path/to/hs37d5.fa
REF_ROOT=/path/to/1000G/reference
BAM_LIST=/path/to/strict_bamlist
THREADS_GL=10
THREADS_INDEX=30
THREADS_GLIMPSE=30
THREADS_LIGATE=22
THREADS_MERGE=30
